{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <span class="sort-item">Сортировать по:</span>
            <a class="sort-item" href='/catalog/?sort=name'>Названию</a>
            <a class="sort-item" href ='/catalog/?sort=price'>Цене по возрастанию</a>
            <a class="sort-item" href ='/catalog/?sort=price&reversed=True'>Цене по убыванию</a>
        </div>

        <div class="content">
        {% if reversed %}
            {% for phone in phones|dictsortreversed:sort_option %}
                {% include "phone-card.html" with image=phone.image name=phone.name price=phone.price slug=phone.slug%}
            {% endfor %}
        {% else %}
        {% for phone in phones %}
            {% include "phone-card.html" with image=phone.image name=phone.name price=phone.price slug=phone.slug%}
        {% endfor %}
        {% endif %}

        </div>
    </div>
{% endblock %}